@using WildlifeLogAPI.Models.DomainModels;
@using Microsoft.AspNetCore.Mvc.Rendering

@model WildlifeLog.UI.Models.ViewModels.AddLogViewModel

@{
}

<h1 class="mt-3">Add Your Wildlife Observation</h1>

<form method="post">

	<div class="mt-3">
		<label class="form-label">Observer Name</label>
		<input type="text" class="form-control" asp-for="ObserverName" />
	</div>
	<div class="mt-3">
		<label class="form-label">Date</label>
		<input type="date" class="form-control" asp-for="Date" />
	</div>
	<div class="mt-3">
		<label class="form-label">What Kind of Animal Was It?</label>
		@foreach (var category in Model.Categories)
		{
			<div>
				<input type="radio" asp-for="CategoryId" value="@category.Id" id="@category.Id" />
				<label for="@category.Id">@category.Name</label>
			</div>
		}
	</div>

	<div class="mt-3">

		<input type="checkbox" asp-for="Confidence" />
		<label class="form-label">I am confident I identified the species</label>
	</div>
	<div class="mt-3">
		<label class="form-label">Species (optional)</label>
		<input type="text" class="form-control" asp-for="Species" />
	</div>

	<div class="mt-3">
		<label class="form-label">Count</label>
		<input type="text" class="form-control" asp-for="Count" />
	</div>
	<div class="mt-3">
		<label class="form-label">Description</label>
		<input type="text" class="form-control" asp-for="Description" />
	</div>
	<div class="mt-3">
		<label class="form-label">Location</label>
		<input type="text" class="form-control" asp-for="Location" />
	</div>
	<div class="mt-3">
		<label class="form-label">Which park?</label>
		<select asp-for="ParkId" class="form-control">
			<option value="">Select a Park</option>
			@foreach (var park in Model.Parks)
			{
				<option value="@park.Id">@park.Name</option>
			}
		</select>
	</div>


	<div class="mt-3">
		<label class="form-label">LogImageUrl</label>
		<input type="file" class="form-control" asp-for="LogImageUrl" />
	</div>
	<div class="mt-3">
		<label class="form-label">Comments</label>
		<input type="text" class="form-control" asp-for="Comments" />
	</div>


	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>