@model IEnumerable<WildlifeLog.UI.Models.DTO.LogDto>

@{
}

<h2>All WildlifeLogs</h2>


<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Logs" asp-action="Add">Add Log</a>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
			<th>Image</th>
            <th>Observer's Name</th>
            <th>Date</th>
            <th>Confidence</th>
            <th>Species</th>
            <th>Count</th>
            <th>Description</th>
            <th>Location</th>
            <th>Park</th>
            <th>Animal Type</th>
          
            <th> </th>                                                                                                                              
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
				<td><img src="@log.LogImageUrl" id="logImageDisplay" style="display:block;width:300px;" /></td>
                <td>@log.ObserverName</td>
                <td>@log.Date</td>
                <td>@log.Confidence</td>
                <td>@log.Species</td>
                <td>@log.Count</td>
                <td>@log.Description</td>
                <td>@log.Location</td>
                <td>@log.Park.Name</td>
                <td>@log.Category.Name</td>
               
                <td>
                    <a asp-controller="Logs" asp-action="Edit" asp-route-id="@log.Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
