@model IEnumerable<WildlifeLog.UI.Models.DTO.LogDto>

@{
	// Check if there are no logs for the selected park
	bool noLogs = Model == null || !Model.Any();
}

<h2>Your WildlifeLogs</h2

@using (Html.BeginForm("Index", "Logs", FormMethod.Get))
{
	<div class="my-4 d-flex justify-content-between">
		<div class="col-md-4">
			<label class="mr-2">Filter by Park:</label>
			@Html.DropDownList("ParkId", ViewBag.Parks as SelectList, "All Parks", new { @class = "form-select", onchange = "this.form.submit();" })
		</div>
		<div>
			<a class="btn custom-button-color my-2" asp-controller="Logs" asp-action="Add">Add Log</a>
		</div>
@if (noLogs)
{
    <p class="text-primary">No logs available for the selected park.</p>
}
else
{


<div class="row">

	@foreach (var log in Model)
	{
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card" data-bs-toggle="modal" data-bs-target="#logModal_@log.Id">
				<img src="@log.LogImageUrl" class="card-img-top" style="height: 300px; object-fit: cover;" alt="">
				<div class="card-body">
					<h5 class="card-title">@log.Species</h5>
					<p class="card-text text-end mb-2" style="height:50px">
						@log.Park.Name
						<br>
						@log.Date.ToShortDateString()
					</p>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="logModal_@log.Id">
			<div class="modal-dialog modal-lg mt-7">
				<div class="modal-content p-5">
					<div class="modal-header">
						<h1 class="modal-title fs-5">
							@log.Species

						</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">

								<img src="@log.LogImageUrl" class="img-fluid mb-3" alt="">
								<p><em>Observed by  @log.ObserverName on  @log.Date.ToShortDateString() at @log.Park.Name</em></p>
							</div>
							<div class="col-md-6">
								<p><b>Species Identified:</b> @log.Species</p>
								<p><b>Confident in Id?</b> @log.Confidence</p>
								<p><b>Animal Group:</b> @log.Category.Name</p>
								<p><b>Count:</b> @log.Count</p>
								<p><b>Description: </b>@log.Description</p>
								<p><b>GPS Location: </b>@log.Location</p>
								<p><b>Park:</b> @log.Park.Name</p>
								<p><b>Comments: </b> @log.Comments</p>

								<div class="d-flex">
									<a asp-controller="Logs" asp-action="Edit" asp-route-id="@log.Id" class="btn btn-primary me-4">Edit</a>
									<form method="post" action="@Url.Action("Delete", "Logs", new { id = log.Id })">
										<button type="submit" class="btn btn-danger">Delete</button>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	}
</div>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">

		<li class="page-item @((ViewBag.CurrentPage == 1) ? "disabled" : "")">
			<a class="page-link" href="@Url.Action("Index", new { page = 1 })" aria-label="First">
				<span aria-hidden="true">&laquo;&laquo;</span>
			</a>
		</li>

		<li class="page-item @((ViewBag.CurrentPage == 1) ? "disabled" : "")">
			<a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>

		@for (int i = 1; i <= ViewBag.TotalPages; i++)
		{
			if (Math.Abs(ViewBag.CurrentPage - i) < 5 || i == 1 || i == ViewBag.TotalPages)
			{
				<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
					<a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
				</li>
			}
			else if (Math.Abs(ViewBag.CurrentPage - i) == 5)
			{
				<li class="page-item disabled">
					<a class="page-link">...</a>
				</li>
			}
		}
		<!-- Add condition to disable Next button -->
		<li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages || ViewBag.TotalPages == 0 ? "disabled" : "")">
			<a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>

		<li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages || ViewBag.TotalPages == 0 ? "disabled" : "")">
			<a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" aria-label="Last">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>

	</ul>
</nav>

		}