@model IEnumerable<WildlifeLog.UI.Models.DTO.LogDto>

@{
}

<h2>All WildlifeLogs</h2>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary mb-3" asp-controller="Logs" asp-action="Add">Add Log</a>
</div>

<div class="row">

	@foreach (var log in Model)
	{
		<div class="col-sm-6 col-lg-3 mb-4">
			<div class="card ">
				<img src="@log.LogImageUrl" id="logImageDisplay" class=" card-img-top"
					 style="height: 300px; object-fit: cover;" alt="">
				<div class="card-body">
					<h5 class="card-title">@log.Species</h5>
					<p class="card-text text-end mb-2" style="height:40px">
						@log.Park.Name
						<br>
						@log.Date.ToShortDateString()
					</p>
				</div>

			</div>
		</div>
	}

</div>


@*<a asp-controller="Logs" asp-action="Edit" asp-route-id="@log.Id" class="btn btn-light">Edit</a>                *@