@model IEnumerable<WildlifeLog.UI.Models.DTO.LogDto>
@{
	ViewData["Title"] = "Home Page";
}

<div class="container ">
	<h1 class="mb-5 display-4 text-center">Welcome To WildlifeLogs!</h1>

    @*Carousel*@
    <div class="carousel slide" id="slider" style="max-width: 1000px; margin: auto; height: 500px; overflow: hidden;">


        <!-- Indicators -->
        <div class="carousel-indicators">
            <button class="active"
                    data-bs-slide-to="0"
                    data-bs-target="#slider"></button>
            <button data-bs-slide-to="1" data-bs-target="#slider"></button>
            <button data-bs-slide-to="2" data-bs-target="#slider"></button>
        </div>



        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 100%;">
                <img src="https://res.cloudinary.com/dx3luykzs/image/upload/v1701216647/hi61pigtec4muqc6btrz.jpg"
                     alt="landscape image #1" class="mx-auto d-block h-100 w-100" style="object-fit: cover; height: 100%;" />
            </div>
            <div class="carousel-item" style="height: 100%;">
                <img src="https://res.cloudinary.com/dx3luykzs/image/upload/v1703133497/pdrvwdc0gn2suns6odq7.jpg"
                     alt="landscape image 21" class="mx-auto d-block h-100 w-100" style="object-fit: cover; height: 100%;" />
            </div>
            <div class="carousel-item" style="height: 100%;">
                <img src="https://res.cloudinary.com/dx3luykzs/image/upload/v1703134739/l3dkup9ezt1dwngl9cpd.jpg"
                     alt="landscape image #1" class="mx-auto d-block h-100 w-100" style="object-fit: cover; height: 100%;" />
            </div>
        </div>
        <!-- Buttons -->
        <button class="carousel-control-prev"
                data-bs-slide="prev"
                data-bs-target="#slider">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                data-bs-slide="next"
                data-bs-target="#slider">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<br />
<p class="lead">Welcome to our Citizen Scientist Wildlife Sightings website! Join our community of nature enthusiasts and record your wildlife encounters. Whether you're an experienced naturalist or a novice, your observations contribute to valuable research and conservation efforts. Document your sightings of birds, mammals, insects, and more in our user-friendly database. Explore a wealth of resources, engage in informative discussions, and learn from fellow citizen scientists. Together, we can make a positive impact on our environment and biodiversity. Get started today, and let's embark on a journey of discovery, one sighting at a time. Join the movement for a greener, healthier planet.</a>.</p>



<h2>All WildlifeLogs</h2>
<div class="row">
    @foreach (var log in Model)
    {
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card" data-bs-toggle="modal" data-bs-target="#logModal_@log.Id">
                <img src="@log.LogImageUrl" class="card-img-top" style="height: 300px; object-fit: cover;" alt="">
                <div class="card-body">
                    <h5 class="card-title">@log.Species</h5>
                    <p class="card-text text-end mb-2" style="height:50px">
                        @log.Park.Name
                        <br>
                        @log.Date.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="logModal_@log.Id">
            <div class="modal-dialog modal-lg mt-7">
                <div class="modal-content p-5">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">
                            @log.Species
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">

                                <img src="@log.LogImageUrl" class="img-fluid mb-3" style="max-width: 100%;" alt="">
								<em>Observed by  @log.ObserverName on  @log.Date.ToShortDateString() at @log.Park.Name</em>
                            </div>
                            <div class="col-md-6">
                                <p><b>Species Identified:</b> @log.Species</p>
                                <p><b>Confident in Id?</b> @log.Confidence</p>
                                <p><b>Animal Group:</b> @log.Category.Name</p>
                                <p><b>Count:</b> @log.Count</p>
                                <p><b>Description: </b>@log.Description</p>
                                <p><b>GPS Location: </b>@log.Location</p>
                                <p><b>Park:</b> @log.Park.Name</p>
                                <p><b>Comments: </b> @log.Comments</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>

