@model IEnumerable<WildlifeLog.UI.Models.DTO.LogDto>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome To WildlifeLogs!</h1>
	<img src="https://res.cloudinary.com/dx3luykzs/image/upload/v1701216647/hi61pigtec4muqc6btrz.jpg" alt="Group of people exploring nature" style="width: 800px;" />
	<br />
	<br />
	<p class="lead">Welcome to our Citizen Scientist Wildlife Sightings website! Join our community of nature enthusiasts and record your wildlife encounters. Whether you're an experienced naturalist or a novice, your observations contribute to valuable research and conservation efforts. Document your sightings of birds, mammals, insects, and more in our user-friendly database. Explore a wealth of resources, engage in informative discussions, and learn from fellow citizen scientists. Together, we can make a positive impact on our environment and biodiversity. Get started today, and let's embark on a journey of discovery, one sighting at a time. Join the movement for a greener, healthier planet.</a>.</p>
</div>


<h2>All WildlifeLogs</h2>
<div class="row">

	@foreach (var log in Model)
	{
		<div class="col-sm-6 col-lg-3 mb-4">
			<div class="card ">
				<img src="@log.LogImageUrl" id="logImageDisplay" class=" card-img-top"
					 style="height: 300px; object-fit: cover;" alt="">
				<div class="card-body">
					<h5 class="card-title">@log.Species</h5>
					<p class="card-text text-end mb-2" style="height:40px">
						@log.Park.Name
						<br>
						@log.Date.ToShortDateString()
					</p>
				</div>

			</div>
		</div>
	}

</div>







@* @foreach(var log in Model)
	{
	<tr>
	<td><img src="@log.LogImageUrl" id="logImageDisplay" style="display:block;width:300px;" /></td>
	<td>@log.ObserverName</td>
	<td>@log.Date</td>
	<td>@log.Confidence</td>
	<td>@log.Species</td>
	<td>@log.Count</td>
	<td>@log.Description</td>
	<td>@log.Location</td>
	<td>@log.Park.Name</td>
	<td>@log.Category.Name</td>

	</tr>
	}*@


